# Git
.git
.gitignore

# Docker
.docker

# Python
holmes_web/__pycache__/
holmes_web/*/__pycache__/
holmes_web/*/*/__pycache__/
holmes_web/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/